*{
    font-family: 'Montaga', serif;
}

body{
    background-color: #e6c073;
}

.bg-color{
    background-color: #aa540eee;
}

.logo{
    display: inline-block;
}

.logo-img{
    width: 60px;
    height: 60px;
    align-items: center;
    margin: auto;

}

.logo-name{
    font-size: 20px;
}

.f-color{
    font-weight: bold;
}

.welcome{
    color: #ac3f21;
    padding: 200px 300px;
    text-align: center;
    align-items: center;
    font-size: 100px;
}

.card{
    width: 320px;
    height: 10vh;
    border-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    background-color: #ffe9d8;
    vertical-align: top;
    margin-left: 100px;
    margin-bottom: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card-title{
    text-align: center;
    font-size: 30px;
    vertical-align: center;
    text-decoration: none;
    color: #ac3f21;
}

.card-body{
    text-align: center;
}
.card:hover, .card:active, .card2:hover, .card2:active{
    width: 340px;
    height: 12vh;
}

.card-title:hover, .card-title:active{
    color: #f78536;
}

.card-block{
    display: block;
}

.card2{
    width: 320px;
    height: 10vh;
    border-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    background-color: #ffe9d8;
    vertical-align: top;
    margin-left: 280px;
    margin-bottom: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.btn{
    border-radius: 10px;
    padding: 10px 15px;
    border: 20x solid #5d5d5a;
    background-color: #5d5d5a;
    color: #fff4e3;
    margin-right: 10px;
}