*{
    font-family: 'Montaga', serif;
}

body{
    background-color: #f5c181;
}

.bg-color{
    background-color: #aa540eee;
}

.logo{
    display: inline-block;
}

.logo-img{
    width: 60px;
    height: 60px;
    align-items: center;
    margin: auto;

}

.logo-name{
    font-size: 20px;
}

.f-color{
    font-weight: bold;
}

.login-form{
    width: 500px;
    border: 2px solid #ed733fb0;
    padding: 30px 20px;
    border-radius: 10px;
    height: 350px;
    /* margin: 200px auto; */
}

.login-form legend{
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #ac3f21;
}

.form-input{
    margin-bottom: 20px;
}

.form-input label{
    display: block;
    margin-bottom: 10px;
}

.form-input input{
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #f5c181;
    background: #fff4e3;
}

.btn{
    border-radius: 10px;
    padding: 10px 15px;
    border: 20x solid #5d5d5a;
    background-color: #5d5d5a;
    color: #fff4e3;
    margin-right: 10px;
}

.text-light{
    color: #fff4e3;
    font-weight: bold;
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ac3f21;
}

.reg-link{
    text-decoration: none;
    color: #fff4e3;
    font-size: medium;
}

.reg-link:hover, .reg-link:active{
    color: #ac3f21;
}

.bck{
    text-decoration: none;
    color: white;
}

.bck:hover, .bck:active{
    color: white;
}